## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
*.eps
*.pdf
*.ps
*.jpg
*.png
*.ppt
*.odt
### Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# cprotect
*.cpt

# fixme
*.lox

# pdfcomment
*.upa
*.upb

#pythontex
*.pytxcode
pythontex-files-*/

# Texpad
.texpadtmp

# TikZ & PGF
*.dpth
*.md5
*.auxlock


# xindy
*.xdy

# xypic precompiled matrices
*.xyc


# endfloat
*.ttt
*.fff

